#container {
    position:top;
    top: 100px;
    bottom: 100px;
}

.portals {
    height: 200px;
    margin: 25px;
}
body {
    background-image: url("assets/rome.jpeg");
    background-size: 1400px;
}
#header {
    color: white;
    text-align: center;
}